{% extends 'base.html' %} {% block content %}
<a href="{% url 'home'%}">Back</a>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4>Gem Stone King, Inc.</h4>
            555 Eighth Avenue
            <br>Room 300
            <br>New York, New York 100018
            <br>212-869-6776
        </div>
        <div class="col-sm">
            <h4>Consigned To:</h4>
            {{ job.creator_name.first_name }} {{ job.creator_name.last_name }}
        </div>
        <div class="col-sm">
            <h4>JOB ORDER</h4>
            {{ job.created }}
        </div>
    </div>
</div>

<table class="table table-striped table-bordered">
    <thead class=" thead-dark">
        <tr>
            <th scope="col">SKU</th>
            <th scope="col">Order Number</th>
            <th scope="col">Qty</th>
            <th scope="col">Stones</th>
            <th scope="col">Job Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <td>{{ job.SKU }}</td>
            <td>{{ job.order_num }}</td>
            <td>{{ job.num_stones }}</td>
            <td> {{ job.num_items }}</td>
            <td>{{ job.description_text }}</td>
        </tr>

    </tbody>
</table>


Save

<small>SKU: {{ job.SKU }}</small>
<br>
<small>Order Number: {{ job.order_num }}</small>
<br>
<small>Stones: {{ job.num_stones }}</small>
<br>
<small>Qty: {{ job.num_items }}</small>
<br>
<small>Job Description: {{ job.description_text }}</small>
<br>
<small>Job Description: ${{ job.calculate_total_amt }}0 </small>
<a href="">Create Memo</a>


{% if not job.memos.all %}
No memos yet... <a href="{% url 'add-memo' job.pk %}">Add one</a>

{% else %}
{% for memo in job.memos.all %}

{{ memo.name }}

{% endfor %}

{% endif %}

{% endblock %}